<div>
    <h1>PRUEBA TÉCNICA</h1>
    <p>Desde el departamento de IT de The Bridge nos hemos lanzado al sector e-commerce y queremos tener listo cuanto
        antes
        un
        MVP.
        <br>
        El equipo de back ya nos ha preparado una API para hacer pruebas (alojada en https://fakestoreapi.com/) con los
        endpoints necesarios.
        Lo mínimo que nos ha pedido el stakeholder para esta versión es que en la web pintemos una tabla mostrando los
        productos, en concreto:
    </p>
    <ul>
        <li>Title</li>
        <li>Category</li>
        <li>Price</li>
    </ul>
    <p>
        Proporcionando ordenación en todas las columnas y paginación.
        <br>
        Para esta primera versión no se va a valorar la calidad del diseño, puesto que nuestro diseñador se encuentra de
        vacaciones.
    </p>
</div>