/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 2em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: inline-flex;
    gap: 2em
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}